<h1>Types of Businesses</h1>

<ul>
  <% @types.each do |type| %>
  <li><%= link_to type.name, type_path(type) %></li>
  <% end %>
</ul>

<hr>

<p><%= link_to "Add New Type of Business", new_type_path %></p>
