<h1><%= @type.name%></h1>
<%= link_to "edit", edit_type_path(@type)%>
<br>
<%= link_to "delete", type_path(@type),
                      :data => { :confirm => "you sure????",
                      :method => "delete"} %>

<hr>

<%= link_to "home", types_path%>
